@model TubeMine2021.Models.tbl_Requests_Contacts

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>

    <hr />
    <table class="table table-bordered">
        <tr>
            <td>Requst Date</td>
            <td>@Html.DisplayFor(model => model.RequestDate)</td>
        </tr>

        <tr>
            <td>Customer Name</td>
            <td>@Html.DisplayFor(model => model.CustomerName)</td>
        </tr>


        <tr>
            <td>Customer Email</td>
            <td>@Html.DisplayFor(model => model.CustomerEmail)</td>
        </tr>

        <tr>
            <td>Customer Phone</td>
            <td>@Html.DisplayFor(model => model.CustomerPhone)</td>
        </tr>


        <tr>
            <td>Customer Message</td>
            <td>@Html.DisplayFor(model => model.CustomerMessage)</td>
        </tr>
    </table>

</div>
<p>
   
    @Html.ActionLink("Back to List", "Index" , new { id = Model.RequestID }, new { @class = "btn btn-info" })
</p>
